{% extends "base.html" %}

{% block content %}
<div class="min-h-screen bg-gray-100 py-8">
    <div class="container mx-auto px-4">
        <div class="grid grid-cols-1 sm:grid-cols-2 md:grid-cols-10 gap-6 p-6 bg-white shadow-md rounded-md">
        
        <!-- Canvas Title in Row 1 spanning full width -->
        <div class="col-span-1 sm:col-span-2 md:col-span-10 text-center mb-6">
            <h1 class="text-2xl font-bold">{{ canvas.title }}</h1>
        </div>

        <!-- Problems section in Column 1 & 2 -->
        <div class="bg-gray-50 border p-4 rounded shadow mb-4 col-span-1 sm:col-span-2 md:col-span-2">
            <h4 class="font-bold text-lg mb-2">Problem</h4>
            <p>{{ canvas.problem }}</p>
        </div>

        <!-- Solutions and Key Metrics in Column 3 & 4 -->
        <div class="flex flex-col justify-between mb-4 col-span-1 sm:col-span-2 md:col-span-2">
            <div class="bg-gray-50 border p-4 rounded shadow mb-4 flex-grow">
                <h4 class="font-bold text-lg mb-2">Solutions</h4>
                <p>{{ canvas.solutions }}</p>
            </div>
            <div class="bg-gray-50 border p-4 rounded shadow flex-grow">
                <h4 class="font-bold text-lg mb-2">Key Metrics</h4>
                <p>{{ canvas.key_metrics }}</p> <!-- Adjusted this line -->
            </div>
        </div>

        <!-- Unique Value Proposition in Column 5 & 6 -->
        <div class="bg-gray-50 border p-4 rounded shadow mb-4 col-span-1 sm:col-span-2 md:col-span-2">
            <h4 class="font-bold text-lg mb-2">Unique Value Proposition</h4>
            <p>{{ canvas.unique_value_proposition }}</p>
        </div>

        <!-- Unfair Advantage and Channels in Column 7 & 8 -->
        <div class="flex flex-col justify-between mb-4 col-span-1 sm:col-span-2 md:col-span-2">
            <div class="bg-gray-50 border p-4 rounded shadow mb-4 flex-grow">
                <h4 class="font-bold text-lg mb-2">Unfair Advantage</h4>
                <p>{{ canvas.unfair_advantage }}</p>
            </div>
            <div class="bg-gray-50 border p-4 rounded shadow flex-grow">
                <h4 class="font-bold text-lg mb-2">Channels</h4>
                <div id="channel-content" hx-get="{% url 'channel_list' lean_canvas_id=canvas.id %}" hx-trigger="load">
                    <!-- Channels will be loaded here -->
                </div>
            </div>
        </div>

        <!-- Customer Segment in Column 9 & 10 -->
        <div class="bg-gray-50 border p-4 rounded shadow mb-4 col-span-1 sm:col-span-2 md:col-span-2">
            <h4 class="font-bold text-lg mb-2">Customer Segments</h4>
            <p>{{ canvas.customer_segments }}</p>
        </div>

        <!-- Cost Structure in Second Row Column 1 to 5 -->
        <div class="border bg-gray-50 flex flex-col p-4 col-span-1 sm:col-span-2 md:col-span-5 mt-4">
            <h4 class="font-bold text-lg mb-2">Cost Structure</h4>
            <div id="cost-structure-content" hx-get="{% url 'cost_structure_list' lean_canvas_id=canvas.id %}" hx-trigger="load">
                <!-- Cost Structures will be loaded here -->
            </div>
        </div>

        <!-- Revenue Streams in Second Row Column 6 to 10 -->
        <div class="border bg-gray-50 flex flex-col p-4 col-span-1 sm:col-span-2 md:col-span-5 mt-4">
            <h4 class="font-bold text-lg mb-2">Revenue Streams</h4>
            <p>{{ canvas.revenue_streams }}</p>
        </div>
        </div> <!-- Closed the main

{% endblock %}
